.topbar{
    width: 100%;
    height: 60px;
    background-color: rgb(252, 252, 252);
    display: flex;
    align-items: center;
    box-shadow: 3px 0px 15px 1px #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 3;
}

.leftTop{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}
.middleTop{
    flex: 5;
}
.middleTop .searchBar{
    width: calc(100% - 30px);
    height: 35px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px solid black;
    /* justify-content: space-around; */
}
.middleTop .searchBar input{
    width: 90%;
    margin-left: 5px;
    height: 30px;
    font-size: 17px;
    outline: none;
    border: none;
    color: rgb(56, 56, 56);
}
.rightTop{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightTop .TopLoginBtn{
    width: 70px;
    height: 24px;
    font-size: 17px;
    background-color: inherit;
    cursor: pointer;
    border: none;
    /* border-radius: 5px; */
    margin: 0px 10px;
    border-bottom: 2px solid black;
}
.rightTop .TopLoginBtn:hover{
    border: none;
}

.rightTop .TopSellBtn{
    margin-left: 15%;
    width: 100px;
    height: 40px;
    background-color: white;
    cursor: pointer;
    border-left: 6px solid rgb(49, 49, 255);
    border-right: 6px solid rgb(48, 142, 249);
    border-bottom: 6px solid rgb(166, 12, 255);
    border-top: 6px solid rgb(0, 225, 255);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TopSellBtn span{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}