.BuyItems{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.buyitmLink{
    color: inherit;
    text-decoration: none;
    width: 22%;
    margin-left: 10px;
}