.BuyItem{
    width: 22%;
    padding: 5px;
    height: 300px;
    border-radius: 20px;
    /* background-color:  #B8E4F0; */
    border:1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;


}
.BuyItem:hover{
    background-color:#B8E4F0 ;
    cursor: pointer;
}

.BuyItem img{
    width: 100%;
    border-radius: 20px;
    padding:5px
}
.BuyItem h3{
    margin-top: 10px;
}