.Register{
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 224, 231);
    font-family: 'Vazirmatn', sans-serif;
    height: 100vh;
}
.company-heading{
    padding: 5px;
}
.company-heading-h1{
    color: rgb(254, 136, 136);
}

.link-register{
    text-decoration: none;
}
.link-register:hover{
    text-decoration: underline;
}
.input-register{
    font-size: medium;
    width: 100%;
    outline: 0ch;
    border: 0ch;
    background-color: antiquewhite;
}
 .button-submit{
    cursor: pointer;
    font-size:large;
    background-color:#6fa3f2;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 0%;
    border: 0cm;
    width: 50%;
    height: 50px;
    margin-left: 80px;
}
.button-submit:hover{
    font-size: larger;
    border: 3px solid;
    border-color: aquamarine;
}
.main{
    height: 100%;
    display: flex;
    flex-direction: row;
    padding:5%;
}
.company{
    height: 60px;
    box-shadow: 3px 0px 15px 1px #69a6ec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
    font-family: 'Shadows Into Light', cursive;
}
.create{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:5;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.names{
    font-size: smaller;
    display: flex;
    flex-direction: row;
}
.name{
    width: 40%;
    font-weight:bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    margin: 2px;
    border-radius: 20px;
}
.email{
    font-size: smaller;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 20px;
    width: 80%;
}
.quotes{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50px;
    padding: 20px;
    width: auto;
    display: flex;
    flex:7;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    word-spacing: 8px;
    line-height: 50px;
    list-style:circle;
}
.heading-quotes{
    color: rgb(254, 136, 136);
}